@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #365486;
  --primary-color-dark: #6132b4;
  --text-dark: #262626;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.section__header span {
  color: var(--primary-color);
}

.section__description {
  max-width: 800px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
  box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}

.nav__logo {
  display: flex; 
  align-items: center; 
}

.logo__image {
  width: 40px; 
  height: auto;
  margin-right: 10px;
}

.logo {
  text-decoration: none; 
  color: var(--primary-color);
  font-size: 1.5rem; 
  font-weight: bold; 
  display: flex;
  align-items: center; 
}


img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--extra-light);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--extra-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--primary-color);
}

.header__container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__container h2 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fa6021;
  background-color: #fff8f5;
  border-radius: 5rem;
}

.header__container h2 img {
  max-width: 25px;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  line-height: 5.5rem;
}

.header__container h1 span {
  color: var(--primary-color);
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 900px;
  margin-inline: auto;
  color: var(--text-light);  
  line-height: 1.6;
  text-align: center;
  font-size: 1rem;
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__btns a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.header__btns a span {
  padding: 5px 11px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.header__btns a:hover span {
  box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}

.header__container > img {
  position: absolute;
  max-width: 40px;
  padding: 7px;
  border-radius: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.header__container > img:nth-child(1) {
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.header__container > img:nth-child(2) {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.header__container > img:nth-child(3) {
  max-width: 30px;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.header__container > img:nth-child(4) {
  top: 20%;
  right: 15%;
  transform: translate(-50%, -50%);
}

.header__container > img:nth-child(5) {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.header__container > img:nth-child(6) {
  top: 85%;
  right: 20%;
  transform: translate(-50%, -50%);
}

.steps {
  background-image: url("assets/steps-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.steps__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.steps__card {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.steps__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 1.5rem;
  border-radius: 100%;
}

.steps__card:nth-child(1) span {
  color: #fa4e09;
  background-color: #fff9f6;
}

.steps__card:nth-child(2) span {
  color: #6a38c2;
  background-color: #e9ddff;
}

.steps__card:nth-child(3) span {
  color: #3ac2ba;
  background-color: #f0fffe;
}

.steps__card:nth-child(4) span {
  color: #fbbc09;
  background-color: #fff8e3;
}

.steps__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.steps__card p {
  color: var(--text-light);
}


.card__container {
  padding: 90px;
  height: 55vh;
  width: 100%;
  background-color: var(--primary-color);
}

.faq__header{  
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--extra-light);
  text-align: left;
}

.faq__description{  
  color: var(--extra-light);
  line-height: 1.75rem;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 2rem;
}

.faq__button{
  display: flex;
  align-items: center; /* Mengatur agar item di dalam button sejajar secara vertikal */
  padding: 10px 20px; /* Padding untuk memberikan ruang di dalam tombol */
  background-color: var(--extra-light); /* Warna latar belakang tombol */
  color: var(--primary-color); /* Warna teks */
  border: none; /* Menghapus border default tombol */
  border-radius: 5px; /* Mengatur border-radius untuk sudut tombol */
}

.faq__button img {
  margin-right: 10px; /* Jarak antara gambar dan teks di dalam tombol */
  max-width: 20px; /* Mengatur lebar maksimum gambar */
  height: auto; /* Mengatur agar gambar menyesuaikan tinggi sesuai proporsional */
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 2rem;
}

.contact__container {
  display: flex;
  flex-direction: column; 
}

.contact__item {
  width: 500px;
  display: flex;
  align-items: center; 
  margin-bottom: 1.5rem; 
}

.contact__item img {
  width: 30px; 
  height: auto; 
  margin-right: 1rem;
}

.contact__item h4 {
  margin: 0; 
  color: var(--primary-color);
  font-size: 1.5rem;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}


/* Styling About.html */
.about {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px; /* Menggunakan max-width sesuai kebutuhan */
  margin: 0 auto; /* Pusatkan konten */
}

.about__image {
  width: 30%; /* Lebar gambar sekitar 30% dari kontainer */
  max-width: 300px; /* Maksimum lebar gambar */
  height: 300px; /* Menjaga proporsi gambar */
  margin-right: 20px; /* Jarak antara gambar dan deskripsi */
}

.about__description {
  width: 70%; /* Lebar deskripsi sekitar 70% dari kontainer */
}

.about__description h1 {
  font-size: 1.5rem; /* Ukuran font judul */
  font-weight: bold; /* Tebal font judul */
  text-align: left;
}

.about__description h1 span {
  color: var(--primary-color); /* Warna untuk bagian 'Smart Meter' */
}

.about__description p {  
  line-height: 1.8; /* Jarak antara baris paragraf */
  color: var(--text-dark); /* Warna teks paragraf */
  margin-bottom: 1rem; /* Jarak bawah paragraf */
  text-align: left;
}




@media (width > 540px) {
  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .job__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about {
    flex-direction: row; /* Ubah ke tata letak baris untuk layar lebar */
    justify-content: space-between; /* Sebarkan konten secara merata */
}

.about__image {
    width: 30%; /* Lebar gambar sekitar 30% dari kontainer */
    margin-bottom: 0; /* Hapus jarak bawah gambar */
    margin-right: 20px; /* Jarak antara gambar dan deskripsi */
}

.about__description {
    width: 70%; /* Lebar deskripsi sekitar 70% dari kontainer */
    text-align: left; /* Teks rata kiri untuk layar lebar */
}
}

@media (min-width: 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }

  .steps__grid {
    margin-top: 6rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .steps__card:nth-child(2n - 1) {
    transform: translateY(-2rem);
  }

  .explore__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .job__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .offer__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-column: 1/3;
  }
}

@media (width > 1024px) {
  .steps__card {
    padding: 1.5rem;
  }

  .explore__card {
    padding: 1.5rem;
  }

  .offer__grid {
    gap: 2rem;
  }
}
